<!DOCTYPE html>

@{
    ViewData["Title"] = "Inicio";

}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PROYECTO</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/PROYECTO_CALIDAD.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />

    @RenderSection("Scripts", required: false)
    

    @section Scripts {
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    }

</head>

<body>
    <div class="home-container">
        <header>
            <div class="logo-search-container">
                <div class="logo">
                    <a asp-action="Index" asp-controller="Home">
                        <img src="~/products/logo.png" alt="Logo" />
                    </a>
                </div>

                <div class="search-box">
                    <form asp-action="Buscar" asp-controller="Products" method="get">
                        <input type="text" name="query" placeholder="      ¿Qué auto buscas?" />
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </form>

                </div>

                <div class="nav-links">
                    <a asp-action="Index" asp-controller="Home" class="btn btn-rosado">
                        <i class="bi bi-plus-circle"></i> INICIO
                    </a>
                    <a asp-action="Index" asp-controller="Products" class="btn btn-rosado">
                        <i class="bi bi-plus-circle"></i> VER AUTOS
                    </a>
                    @if (User.Identity.IsAuthenticated) {
                        <a asp-action="Vender" asp-controller="Products" class="btn btn-rosado">
                            <i class="bi bi-plus-circle"></i> VENDER AUTO
                        </a>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-rosado">
                            <i class="bi bi-person-circle"></i> HOLA, @User.Identity.Name!
                        </a>
                        <a href="@Url.Action("Logout", "Access")" class="btn btn-rosado">
                            <i class="bi bi-box-arrow-right"></i> SALIR
                        </a>
                    }

                    else
                    {
                        <a asp-action="Login" asp-controller="Access" class="btn btn-rosado">
                            <i class="bi bi-plus-circle"></i> LOGIN
                        </a>
                    }


                </div>
            </div>

        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <!-- Pie de página -->
        <footer>
            <div class="footer-content">
                <div class="company-info">

                    <div class="social-icons">
                        <a href="https://wa.me/51931659662" target="_blank" title="WhatsApp">
                            <img src="~/products/whatsapp.ico" alt="WhatsApp" />
                        </a>
                        <a href="https://www.facebook.com/profile.php?id=100008193092311" target="_blank" title="Facebook">
                            <img src="~/products/facebook.ico" alt="Facebook" />
                        </a>
                    </div>
                    <h3>¿Qué es Dacars?</h3>

                    <p>Dacars, donde comprar y vender tu auto usado es rápido y seguro. Aceptamos todas las marcas y modelos.</p>

                    <h4>¿Qué hacemos?</h4>
                    <p>Comprar o vender un auto usado a otra persona puede ser una caja de sorpresas, pero no en Autopia. Revisa el historial de impuestos y multas, chequea las condiciones mecánicas del auto y mucho más en nuestros Puntos seguros de Autopia. Además, te asistiremos durante el proceso de Transferencia Vehicular.</p>
                </div>

            </div>
        </footer>


    </div>
    <script src="path/to/your/scripts.js"></script>
</body>

<style>

    body {
        margin: 0;
        font-family: Bahnschrift, sans-serif;
        color: #0B0E17;
    }

    .home-container {
        text-align: center;
    }

    /* Header Styles */
    .logo-search-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0B0E17;
        padding: 10px;
        /*border: 2px solid orange;*/
    }

    .logo {
        display: flex;
        align-items: center;
        font-size: 24px;
        color: gray;
    }

        .logo img {
            height: 80px;
            margin-right: 10px;
        }

    .search-box {
        display: flex;
        align-items: stretch;
    }

        .search-box input {
            width: 700px;
            padding: 10px;
            border: 2px solid #CD1130;
            border-radius: 20px;
        }

        .search-box button {
            background-color: #0B0E17;
            border: solid;
            cursor: pointer;
            margin-left: auto;
        }

            .search-box button i {
                color: #FA044F;
                font-size: 18px;
            }

    .nav-links a {
        margin-left: 20px;
        text-decoration: none;
        color: #FA044F;
        font-size: 20px;
    }

        .nav-links a:hover {
            color: #8B0200;
        }


    /* Company Info */
    .company-info {
        margin-top: -30px;
        font-size: 50px;
        color: white;
        font-family: Bahnschrift, sans-serif;
    }

    /* Footer Styles */
    footer {
        /*position: fixed;*/
        bottom: 0;
        left: auto;
        width: 100%;
        background-color: #0B0E17;
        padding: 20px;
        /* border-top: 3px solid orange;*/
        text-align: center;
        font-size: 14px;
        font-family: Bahnschrift, sans-serif;
    }

        footer .company-info h3 {
            font-size: 5.5rem;
            margin-bottom: 10px;
            color: #ECEAE4;
        }

        footer .company-info h4 {
            font-size: 4.25rem;
            margin-top: 20px;
            margin-bottom: 10px;
            color: #ECEAE4;
        }

        footer .company-info p {
            font-size: 2rem;
            line-height: 1.5;
            color: darkgrey;
        }

    .footer-content {
        display: flex;
        justify-content: space-between; /* Espacia el texto y los íconos al borde */
        align-items: center; /* Alinea verticalmente el texto y los íconos */
    }

    .company-info {
        flex: 1; /* Permite que el área de información ocupe el espacio disponible */
    }

    .social-icons {
        display: flex;
        justify-content: flex-end;
    }

        .social-icons a {
            margin-left: 10px;
        }

        .social-icons img {
            width: 70px;
            height: 70px;
        }

    .social-icons {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        padding-top: 20px;
    }

        .social-icons a {
            margin-left: 5px;
        }

        .social-icons img {
            width: 70px;
            height: 70px;
            position: center;
        }

</style>